<div class="container" id="appointment" style="padding: 20px;">
    <div class="card">
        <h4 class="card-header">Volunteer Login</h4>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="date">Password</label>
                        <input type="password" name="Time" placeholder="Your Password" value="" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div> -->
                    </div>
                </div>
                <br>
                <div class="row">
                    <button type="submit" class="form-control" id="cf-submit" name="submit">Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" style="padding: 20px;">
    <div class="row" style="margin-top: 5px; padding-top: 35px;">
        <div style="text-align: center;margin-bottom: 50px;" class="col-sm-12 col-md-12">
            <h2 class="wow fadeInUp" style="color: green;" data-wow-delay="0.4s">
                <span>Volunteer Information!</span>
            </h2>
            <h6 class="wow fadeInUp" style="color: green;" data-wow-delay="0.4s">
                <span>Profile</span>
            </h6>
        </div>
    </div>
</div>