<div class="row"
    style="margin-top: 5px; padding-top: 35px;background: url('assets/images/vol5.jpg') no-repeat top center;">
    <div style="text-align: center;margin-bottom: 50px;" class="col-sm-12 col-md-12">
        <h2 *ngIf="!user" class="wow fadeInUp" style="color: green;" data-wow-delay="0.4s">
            <span>Sign up Now!</span>
        </h2>
        <h2 *ngIf="user" class="wow fadeInUp" style="color: green;" data-wow-delay="0.4s">
            <span>Welcome {{ user.displayName }} ! </span>
        </h2>
        <button *ngIf="!user" class="btn btn-primary" (click)="GoogleAuth()">Login with Google</button>
        <button *ngIf="user" class="btn btn-primary" (click)="logout()">Logout</button>
        <br><br><br><br>
        <div *ngIf="isAdmin">
            <h4>Admin Panel</h4>
            <h6 class="wow fadeInUp" style="color: green;" data-wow-delay="0.4s">
                <a [routerLink]="'/test-center-form'" (click)="testCenterCreate()"><span>Test center</span></a>
            </h6>
            <h6 class="wow fadeInUp" style="color: green;" data-wow-delay="0.4s">
                <a [routerLink]="'/test-center-form'" (click)="vaccinationCenterCreate()"><span>Vaccination
                        center</span></a>
            </h6>
            <h6 class="wow fadeInUp" style="color: green;" data-wow-delay="0.4s">
                <a [routerLink]="'/news-portal-form'" (click)="newsPortalCreate()"><span>News Portal
                    </span></a>
            </h6>
        </div>
    </div>
</div>