<div class="row"
    style="margin-top: 5px; padding-top: 35px;background: url('assets/images/vol5.jpg') no-repeat top center;">
    <div class="col-sm-6 col-md-8">
        <h2 style="text-align: center;" class="wow fadeInUp" data-wow-delay="0.4s">Want to be a Volunteer?</h2>
    </div>
    <div class="col-sm-6  col-md-4">
        <h2 class="wow fadeInUp" style="color: green;" data-wow-delay="0.4s"> <a [routerLink]="'/volunteer-create'"
                (click)="createVolunteer()" class="nav-link"><span>Join
                    us now</span></a></h2>
    </div>
</div>
<div class="container">
    <input type="text" id="myInput" (keyup)='searchFunction($event.target.value)' placeholder="Search for...">

    <table id="myTable">
        <tr class="header">
            <th style="width: 600px;">Name</th>
            <th style="width: 400px;">Email</th>
            <th style="width: 300px;">phoneNumber</th>
            <th style="width: 300px;">City</th>
            <th style="width: 300px;">Time from</th>
            <th style="width: 300px;">Time To</th>
        </tr>
        <tr *ngFor="let c of filterData | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
            <td>{{c.name}}</td>
            <td>{{c.email}}</td>
            <td>{{c.phoneNumber}}</td>
            <td>{{c.city}}</td>
            <td>{{c.timeFrom}}</td>
            <td>{{c.timeTo}}</td>
        </tr>
    </table>
    <pagination-controls style="float: right;" (pageChange)="p = $event"></pagination-controls>
</div>