<div class="container" style="border-style: ridge;margin-top: 20px;">
    <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
        <h3 style="text-align: center;margin-top: 20px;">Mental Health Survey for Covid-19</h3>
    </div>
    <div class="row" style="margin-top: 5px; padding-top: 35px;">
        <div class="col-sm-12 col-md-12">
            <p class="pp">Since December 2019, there has been an outbreak of pneumonia of
                an unknown
                etiology that was first
                reported
                in Wuhan, Hubei Province, China. Following the outbreak, a novel corona virus, SARS-CoV-2, was
                identified as
                the causative virus for the pandemic in China and other parts of the world.<br />
                Over time, the Covid 19 pandemic has become a part of our life. This changes our lifestyle and may also
                affect our behavior and mental health. People have experienced different kinds of problems and
                unexpected
                situations because of Covid.<br />
                The purpose of this survey is to find out the effect of Covid 19 on the participants personal life.
                Based on
                some basic questions and answering them with their own experience we try to illustrate the change to
                their
                life because of Covid 19.<br />

                Among the participants 90% is student and they participate in the survey without any kind of personal
                data.
                100% participants are between the age of 21 to 40.

            </p>

        </div>
    </div>
    <img style="text-align: center;" src="assets/images/mh-01.jpeg" class="img-responsive" alt="">
    <p class="pp"> About 30% of them were affected by the covid 19.Pandmic also increase the relaxing and exercise time
        for participants.</p>
    <img style="float:inline-start" src="assets/images/mh-02.jpg" class="center" alt="">
    <p class="pp">During the pandemic, people were worried about the situation, and our survey shows, how much
        participants were
        concerned about the world situation of Covid situation. Around 36% people were chacking daily news to undersent
        the severity of the disease.</p>
    <img style="text-align: center;" src="assets/images/mh03.jpg" class="center" alt="">
    <p class="pp">The mental pressure which is caused by covid is unexplainable and unmeasurable. With some point, we
        try to find
        out our participant's experience on their phycological behavior. It shows, the percentage of depression is
        highest wile anxiety and loneliness is also having high percentage.</p>
    <img style="text-align: center;" src="assets/images/mh-04.jpeg" class="img-responsive" alt="">
    <p class="pp">The survey also show that the user paid more attention to their mental health, and they did different
        activity to
        keep them more enthusiastic. The increment of participants concern on their mental health is clear in this
        portion of the survey.</p>
    <img style="text-align: center;" src="assets/images/mh-05.jpeg" class="img-responsive" alt="">
    <p class="pp">In a situation like the pandemic covid 19, support from family and friends is very important to
        survive the time
        with less depression or anxiety. In the survey we asked our participant, how was their experience? About 30%
        strongly agreed that they get support from friends and family while about 46% is agreed on that term.Covid also
        change the behavior of daily life. 100% agreed on the term. They said they are paying more attention to have
        hygienic life. </p>
</div>