<form [formGroup]="testCenterForm">
    <section style="padding: 0px;" id="appointment" data-stellar-background-ratio="3">
        <div class="container">

            <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                <h3 style="text-align: center;margin-top: 20px;">COVID-19 Test Center Insertion</h3>
            </div>

            <div class="wow fadeInUp" data-wow-delay="0.8s">
                <div class="row">
                    <div class="col">
                        <label for="name">Name</label>
                        <input formControlName="name" type="text" name="name" class="form-control"
                            placeholder=" Test center name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="date">Time From</label>
                        <input formControlName="timeFrom" type="time" name="Time" value="" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.timeFrom.errors }">
                        <div *ngIf="submitted && f.timeFrom.errors" class="invalid-feedback">
                            <div *ngIf="f.timeFrom.errors.required">Time From is required</div>
                        </div>
                    </div>
                    <div class="col"> <label for="date">Time To</label>
                        <input formControlName="timeTo" type="time" name="Time" value="" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.timeTo.errors }">
                        <div *ngIf="submitted && f.timeTo.errors" class="invalid-feedback">
                            <div *ngIf="f.timeTo.errors.required">Time To is required</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="select">Select City</label>
                        <select formControlName="city" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                            <option>Dusseldorf</option>
                            <option>Bonn</option>
                            <option>Kleve</option>
                            <option>mönchengladbach</option>
                            <option>Krefeld</option>
                            <option>Dortmund</option>
                            <option>Essen</option>
                            <option>Köln</option>

                        </select>
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">City is required</div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="select">Appointment Requirements</label>
                        <select formControlName="apRequired" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.apRequired.errors }">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                        <div *ngIf="submitted && f.apRequired.errors" class="invalid-feedback">
                            <div *ngIf="f.apRequired.errors.required">Appointment selection is required</div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <label for="telephone">Phone Number</label>
                        <input formControlName="phoneNumber" type="tel" class="form-control" id="phone" name="phone"
                            placeholder="Phone" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
                        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="address">Address</label>
                        <input formControlName="address" type="text" name="address" class="form-control"
                            placeholder="Full Address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                            <div *ngIf="f.address.errors.required">Address is required</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="email">Email</label>
                        <input formControlName="email" type="email" class="form-control" id="email" name="email"
                            placeholder="Your Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                        </div>
                    </div>
                    <div class="col">
                        <label for="telephone">Website</label>
                        <input formControlName="website" type="tel" class="form-control" id="website" name="website"
                            placeholder="Website" [ngClass]="{ 'is-invalid': submitted && f.website.errors }">
                        <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
                            <div *ngIf="f.website.errors.required">Website is required</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" (click)="saveTestCenterInfo()" class="form-control" id="cf-submit"
                        name="submit">Submit
                    </button>
                </div>

            </div>

        </div>
    </section>
</form>