<!DOCTYPE html>
<html lang="en">

<head>
     <title>covid-19-assistant</title>
</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- ABOUT -->
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to Your Covid-19 Assistant</h2>
                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <h5>You might have many questions regarding Covid-19 :</h5>
                                   <p>Where I can do the Covid-19 test?
                                        Where I can get the covid-19 vaccination?
                                        I am infected by the virus. Can anybody help me?
                                        What are the effects of the COVID-19 pandemic on mental health?
                                        I am tested negative. Can I help someone?
                                   </p>
                                   <h4>We are here for you <i class="fa fa-user-md"></i></h4>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- TEAM -->
     <section id="team" data-stellar-background-ratio="1">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.1s">Our services</h2>
                         </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                              <img src="assets/images/covid_test.jpg" class="img-responsive" alt="">

                              <div class="team-info">
                                   <h3><a [routerLink]="'/test-center'" (click)="testCenter()">Test
                                             Center</a></h3>
                                   <p>Location information</p>
                                   <ul class="social-icon">
                                        <li><a [routerLink]="'/test-center'" (click)="testCenter()"
                                                  class="fa fa-link"></a></li>
                                        <li><a href="#" class="fa fa-home"></a></li>
                                   </ul>
                              </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                              <img src="assets/images/vaccination.jpg" class="img-responsive" alt="">

                              <div class="team-info">
                                   <h3><a [routerLink]="'/vaccination-center'" (click)="vaccinationCenter()">Vaccination
                                             Center</a></h3>
                                   <p>Location information</p>
                                   <ul class="social-icon">
                                        <li><a [routerLink]="'/vaccination-center'" (click)="vaccinationCenter()"
                                                  class="fa fa-link"></a></li>
                                        <li><a href="#" class="fa fa-home"></a></li>
                                   </ul>
                              </div>

                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                              <img src="assets/images/volunteer.jpg" class="img-responsive" alt="">

                              <div class="team-info">
                                   <h3><a [routerLink]="'/volunteer-list'" (click)="volunteerList()">Volunteer
                                             service</a></h3>
                                   <p>Covid-19 Patient</p>
                                   <ul class="social-icon">
                                        <li><a [routerLink]="'/volunteer-list'" (click)="volunteerList()"
                                                  class="fa fa-link"></a></li>
                                        <li><a href="#" class="fa fa-home"></a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- positive news -->

     <section id="news" data-stellar-background-ratio="2.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <!-- SECTION TITLE -->
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h2>Positive News</h2>
                         </div>
                    </div>
                    <ng-container
                         *ngFor="let c of filterData | paginate: { itemsPerPage: 4, currentPage: p }; let i = index;">
                         <div class="col-md-3">
                              <div class="card" style="overflow: hidden; height: 30rem; margin-bottom: 15px;">
                                   <img [src]="c.imageUrl" class="card-img-top">
                                   <div class="card-body">
                                        <h5 class="card-title">{{c.title}}</h5>
                                        <p class="card-title">
                                             <strong>{{c.category}}</strong>
                                        </p>
                                        <p class="card-text">{{c.description}}</p>
                                        <a [attr.href]="c.website" target="_blank" class="card-link">{{c.website}}</a>
                                   </div>
                              </div>
                         </div>
                         <div *ngIf="(i+1) % 4 == 0" class="w-100"></div>
                    </ng-container>
               </div>
               <pagination-controls style="float: right;" (pageChange)="p = $event"></pagination-controls>
          </div>
     </section>

     <!-- GOOGLE MAP -->
     <section id="google-map">
          <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
	-->
          <iframe
               src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3647.3030413476204!2d100.5641230193719!3d13.757206847615207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf51ce6427b7918fc!2sG+Tower!5e0!3m2!1sen!2sth!4v1510722015945"
               width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
     </section>


     <!-- FOOTER -->
     <footer data-stellar-background-ratio="5">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-4">
                         <div class="footer-thumb">
                              <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact Info</h4>
                              <p>This is a Group project.I hope you will find it informative.you can contact us.thank
                                   you</p>

                              <div class="contact-info">
                                   <p><i class="fa fa-phone"></i> 010-070-0170</p>
                                   <p><i class="fa fa-envelope-o"></i> <a href="#">info@covid-19-assistant.com</a></p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="footer-thumb">
                              <h4 class="wow fadeInUp" data-wow-delay="0.4s">Latest News</h4>
                              <div class="latest-stories">
                                   <div class="stories-image">
                                        <a href="#"><img src="assets/images/news-image.jpg" class="img-responsive"
                                                  alt=""></a>
                                   </div>
                                   <div class="stories-info">
                                        <a href="#">
                                             <h5>Amazing Technology</h5>
                                        </a>
                                        <span>March 08, 2020</span>
                                   </div>
                              </div>

                              <div class="latest-stories">
                                   <div class="stories-image">
                                        <a href="#"><img src="assets/images/news-image.jpg" class="img-responsive"
                                                  alt=""></a>
                                   </div>
                                   <div class="stories-info">
                                        <a href="#">
                                             <h5>New Healing Process</h5>
                                        </a>
                                        <span>February 20, 2020</span>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <div class="footer-thumb">
                              <div class="opening-hours">
                                   <h4 class="wow fadeInUp" data-wow-delay="0.4s">About Us</h4>
                                   <p>Group Member <span></span></p>
                              </div>

                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-12 col-sm-12 border-top">
                         <div class="col-md-4 col-sm-6">
                              <div class="copyright-text">
                                   <p>Copyright &copy; 2021 ARP-A Project

                                        | Design: <a rel="nofollow" href="https://www.facebook.com/tooplate"
                                             target="_parent">Team-2</a></p>
                              </div>
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <div class="footer-link">
                                   <a href="#">e2e Tests</a>
                                   <a href="#">ARP-A Team</a>
                                   <a href="#">Policy</a>
                                   <a href="#">Group Members</a>
                              </div>
                         </div>
                         <div class="col-md-12 col-sm-12 text-align-center">
                              <div class="angle-up-btn text-align-right">
                                   <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i
                                             class="fa fa-angle-up"></i></a>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>
</body>

</html>